<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>

<!-- codemirror for better textarea (not using it now because it doesn't support rtl so well -->
<!--
<link rel=stylesheet href="static/codemirror/lib/codemirror.css">
<script src="static/codemirror/lib/codemirror.js"></script>
-->

<!-- simple jquery line numbers -->
<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
<link rel=stylesheet href="static/jquery-linedtextarea/jquery-linedtextarea.css">
<script src="static/jquery-linedtextarea/jquery-linedtextarea.js"></script>


<script type="text/javascript">
function toggleDirection() {
   console.log("Toggling direction");
   rtl = document.getElementById("cbox1").checked;
   console.log("RTL: "+rtl);

   direction = "ltr";
   if ( rtl === true ) {
      direction = "rtl";
   }

   document.getElementById("input").setAttribute("dir",direction);
   document.getElementById("result").setAttribute("dir",direction);
}



function selectText(containerid) {
    if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select();
    } else if (window.getSelection()) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
    }
}

function clearInput() {
   document.getElementById("input").innerHTML = "";
   document.getElementById("input").value = "";
}

function clearResult() {
   document.getElementById("result").innerHTML = "";
}

</script>

</head>

<body>
<h4>Readme:</h4>

<p>
Select "Right-to-left" if using Arabic script. Copy text to "Input" field. Press "Expand". Click anywhere in the "Result" field below to select the result, if you want to copy it.
</p>
<p>
Parentheses are used for grouping, pipe for alternatives, square brackets for optional elements. Example: (a|b)[c] generates a, ac, b, bc.
</p>
<p>
If "Compare alternate lines" is selected, even line numbers will be checked to ensure that the previous line is included in the generated strings. Example line 1: X, line 2 Y will print a warning, line 1 X, line 2 X|Y will not.
</p>
<p>
Pattern errors such as unbalanced parentheses will result in an error message.
</p>
<p>
Please report issues at <a href="https://github.com/HaraldBerthelsen/pattern_expander/issues">https://github.com/HaraldBerthelsen/pattern_expander/issues</a>.
</p>

<h4>Input:</h4>

<form action="." method="POST">
<textarea id="input" name="text" rows="20" cols="100" dir="{{ direction }}" style="width:97%">{{ initial_text }}</textarea>
<br>

<!-- codemirror test -->
<!--
<textarea id="cmtext" dir="{{ direction }}" style="width:97%">{{ initial_text }}</textarea>
<br>
-->

<input type="submit" name="my-form" value="Expand">
<label><input type="checkbox" name="direction" id="cbox1" value="rtl" onchange="toggleDirection();">Right-to-left</label>
<label><input type="checkbox" name="compareAlternateLines" id="cbox2" value="true" {{ compAltChecked }}>Compare alternate lines</label>
<input type="button" value="Clear" onclick="clearInput();clearResult();">
<br>
</form>

<h4>Result:</h4>
<hr>
<div id="result" onclick="selectText('result')" dir="{{ direction }}">
    {% for line in data %}
  <p>
       {{ line }}
  </p>
    {% endfor %}

  </div>

<script type="text/javascript">
var dir = "{{ direction }}";
if ( dir === "rtl" ) {
  document.getElementById("cbox1").setAttribute("checked",true);
}
</script>

  <!-- codemirror -->
  <!--
  <script>
  var editor = CodeMirror.fromTextArea(document.getElementById("cmtext"), {
    lineNumbers: true
  });
</script>
-->
  
  <!-- jquery_linedtextarea -->
  <script type="text/javascript">
$(function() {


  // Target a single one
  $("#input").linedtextarea();

});
</script>

</body>
</html>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Tue Jun 21 15:23:20 CEST 2016 <!-- hhmts end -->
</body> </html>
